.heading-styles{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:forestgreen;
    font-weight:lighter;
}
.subheading-styles{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:navy;
    font-weight:lighter;
}