<div class="container mt-5  align-items-center">
    <h2 class="text-center fst-italic ">Complants App</h2>
    <div class="row ">
        <div class="col-lg-7 d-flex align-items-center justify-content-center">
            <img src="assets\login-image.webp" width="70%">
        </div>
        <div class="col-lg-5 d-flex justify-content-center align-items-center" style="height: 70vh;">
            <div class="shadow p-4 rounded-5" style="width: 100%; max-width: 500px;">
                <h4 class="text-center fst-italic p-4"><i class="bi bi-person-circle fs-3 me-2"></i>Login</h4>
                <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
                    <div class="mb-4">
                        <label class="form-label">UserName<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="username" placeholder="Enter UserName" autofocus>
                        <div class="text-danger" *ngIf="loginForm.controls['username'].dirty || loginForm.controls['username'].touched">
                            <div *ngIf="loginForm.get('username')?.errors?.['required']">
                                 Required UserName
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Password<span class="text-danger">*</span></label>
                        <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">
                        <div class="text-danger" *ngIf="loginForm.controls['password'].dirty || loginForm.controls['password'].touched">
                            <div *ngIf="loginForm.get('password')?.errors?.['required']"> Passowrd Required</div>
                        </div>
                    </div>
                    <div class=" justify-content-center">
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                        <p class="mt-2 cursor">Don't have an account?<a class="text-danger" (click)=" Register()">Register</a></p>
                    </div>
                </form>
            </div>
        </div>        
</div>